{% extends 'autofill/base.html' %}


{% block navbar %}
    
{% endblock navbar %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Register</h2>
          <form action="" method="POST">
              {% csrf_token %}
              <fieldset>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" name="email" />
                    <div class="form-text">Input your Email.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="password1" />
                    <div class="form-text">Input your password.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Repeat Password</label>
                    <input type="password" class="form-control" name="password2" />
                    <div class="form-text">Repeat your password</div>
                </div>
              </fieldset>
             
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Register</button>
              </div> 
          </form>
        </div>
    </div>
</div>
{% endblock content %}
    