{% extends 'autofill/base.html' %}


{% block content %}
<div class="container mt-5">
    <div class="card bg-dark">
        <div class="card-body">
            <form method="POST">
                <fieldset>
                    {% csrf_token %}
                
                    {% for q, field in questions.items %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="mb-3">
                            
                                    <label class="form-label">{{ q }}</label>
        
                                    {% if field.question_type == 'JawabanSingkat' %}
        
                                        <input type="text" class="form-control" name="{{ q }}"/>
                                        <div class="form-text">We'll never share your email with anyone else.</div>
                                    
                                    {% elif field.question_type == 'Tanggal' %}
                                        
                                        
                                        {% if question.get_answers %}
                                            {% for answer in question.get_answers %}
                                                <input type="text" class="form-control" name="{{ q }}" value="{{ a }}" />
                                            {% endfor %}
                                        {% else %}
                                            <div class="d-flex" id="{{ q }}">
                                                <input type="text" class="form-control" name="{{ q }}"/>  
                                            </div>
                                        {% endif %}
                                            
                                            
                                        <div class="form-text">Input the date or 'now' to input time when form submitted</div>
                                    
                                    {% elif field.question_type == 'Paragraf' %}
        
                                        <textarea class="form-control" name="{{ q }}" cols="30" rows="10"></textarea>
                                    
                                    {% elif field.question_type == 'Waktu' %}

                                        <input type="text" class="form-control" name="{{ q }}">
                                        <div class="form-text">e.g 08:10</div>
                                        
                                    {% elif field.question_type == 'DropDown' %}
                                        
                                        <select class="form-select" name="{{ q }}" id="">
        
                                            {% for a in field.answers %}
        
                                                <option value="{{ a }}">{{ a }}</option>
        
                                            {% endfor %}
        
                                        </select>
                                    {% elif field.question_type == 'PilihanGanda' %}
                                        
                                        {% for a in field.answers %}
                                            <div class="form-check">
                                                <input class="form-check-input" name="{{ q }}" id="{{ a }}" value="{{ a }}" type="radio">
                                                <label class="form-check-label" for="{{ a }}">{{ a }}</label>
                                            </div>
                                        {% endfor %}

                                    {% elif field.question_type == "KisiPilihanGanda" %}
                                        
                                        <div class="row">
                                            <div class="col"></div>
                                            
                                            {% for b in field.answers.col %}
                                                <div class="col d-flex justify-content-center">
                                                    {{ b }}
                                                </div>
                                            {% endfor %}
                                                
                                        </div>
                                        {% for a in field.answers.row %}
                                            
                                            <div class="row">
                                                <div class="col d-flex justify-content-center">{{ a }}</div>
                                                
                                                {% for b in field.answers.col %}
                                                    <div class="col d-flex justify-content-center">
                                                        <input type="radio" name="{{ q }} {{ a }}" value="{{ a }},{{ b }}">
                                                    </div>
                                                {% endfor %}
                                                    
                                            </div>

                                        {% endfor %}
                                            
                                            
                                    {% elif field.question_type == 'SkalaLinier' %}
                                            <div class="d-flex">
                                                {% for a in field.answers %}
                                                    <div class="form-check">
                                                        <input class="form-check-input d-block" name="{{ q }}" id="{{ a }}" value="{{ a }}" type="radio">
                                                        <label class="form-check-label d-block" for="{{ a }}">{{ a }}</label>
                                                    </div> 
                                                {% endfor %}
                                            </div>
                                                
                                    {% elif field.question_type == 'KotakCentang' %}                        
                                            
                                        {% for a in field.answers %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="{{ q }}" id="{{ a }}" value="{{ a }}"/>
                                                <label class="form-check-label" for="{{ a }}">{{ a }}</label>
                                            </div>
                                        {% endfor %}
                                    
                                    {% elif field.question_type == "PetakKotakCentang" %}

                                        <div class="row">
                                            <div class="col"></div>
                                            
                                            {% for b in field.answers.col %}
                                                <div class="col d-flex justify-content-center">
                                                    {{ b }}
                                                </div>
                                            {% endfor %}
                                                
                                        </div>
                                        {% for a in field.answers.row %}
                                            
                                            <div class="row">
                                                <div class="col d-flex justify-content-center">{{ a }}</div>
                                                
                                                {% for b in field.answers.col %}
                                                    <div class="col d-flex justify-content-center">
                                                        <input type="checkbox" name="{{ q }} {{ a }}" value="{{ a }},{{ b }}">
                                                    </div>
                                                {% endfor %}
                                                    
                                            </div>

                                        {% endfor %}

                                    {% endif %}
        
                                </div> 
                            </div>
                        </div>
                        
                    {% endfor %}
                        
                    <button type="submit" class="btn btn-primary">Save</button>
                </fieldset>    
            </form>
        </div>
    </div>
</div>
<script>

</script>
{% endblock content %}
    