{% extends 'autofill/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-3 d-flex justify-content-end">
    <a href="{% url 'autofill:add-section' %}" type="button" class="btn btn-primary">
        <i class="fas fa-plus-circle"></i> Add Form
    </a>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
            <div class="card">
                <div class="card-body">
                  <div class="row">
                      <div class="col-3 d-flex align-items-center">
                        <i class="fas fa-paper-plane text-info" style="font-size: 3rem;"></i>
                      </div>
                      <div class="col-6 d-flex align-items-center">
                        Total Submitted Form
                      </div>
                      <div class="col-3 d-flex align-item-center" style="font-size: 3rem;">
                          {{ submitted_form }}
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
            <div class="card">
                <div class="card-body">
                  <div class="row">
                      <div class="col-3 d-flex align-items-center">
                        <i class="fas fa-check-circle text-success" style="font-size: 3rem;"></i>
                      </div>
                      <div class="col-6 d-flex align-items-center">
                        Successfully Submitted
                      </div>
                      <div class="col-3 d-flex align-item-center" style="font-size: 3rem;">
                          {{ succesfully_submitted }}
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
            <div class="card">
                <div class="card-body">
                  <div class="row">
                      <div class="col-3 d-flex align-items-center">
                        <i class="fas fa-times-circle text-danger" style="font-size: 3rem;"></i>
                      </div>
                      <div class="col-6 d-flex align-items-center">
                        Failed to Submit
                      </div>
                      <div class="col-3 d-flex align-item-center" style="font-size: 3rem;">
                          {{ failed_to_submit }}
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="table-responsive">
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Form Name</th>
                <th scope="col">Schedule Type</th>
                <th scope="col">Auto Submit</th>
              </tr>
            </thead>
            <tbody>
              
              {% for section in sections %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'autofill:detail-section' section.pk %}">{{ section.name }}</a></td>
                        <td>{{ section.schedule_type }}</td>
                        <td>
                            {% if section.task.enabled %}
                                <i class="fas fa-check-circle text-success"></i>
                            {% else %}
                                <i class="fas fa-times-circle text-danger"></i>
                            {% endif %}
                        </td>
                    </tr>
              {% endfor %}
                  
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
    